<!DOCTYPE html>
<html>
<head>
    <title>Welcome to the Trainer App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/add_trainer">Add Trainer</a> |
        <a href="/list_trainers">List Trainers</a> |
        <a href="/get_trainer_form">Find Trainer by ID</a> |
        <a href="/delete_trainer_form">Delete Trainer by ID</a> |
        <a href="/find_trainers_by_subject_form">Find Trainers by Subject</a> |
        <a href="/add_subject">Add Subject</a> |
        <a href="/list_subjects">List Subjects</a> |
        <a href="/get_subject_form">Find Subject by ID</a>
    </nav>
    <hr>
    <h1>Welcome to the Trainer and Subject Management App!</h1>
    <p>Use the links above to navigate the different features of the application.</p>
</body>
</html>